/* Ajustes por defecto */
@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Belanosima', sans-serif;
}

body {
    background: url(../img/fondo.jpg) no-repeat;
    background-size: cover;
} 

/* Barra de navegacion */
.fuentes {
    font-size: 18px;
    text-transform: uppercase;
}
 
.fuentes li a:hover {
    border-radius: 3px;
    color: #fff;
    background: black;
    transition: .5s;
} 

.fuentes a {
    color: black;
}

/* LOGO */

.logo {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

/* Pie de pagina */

.redes img {
    padding: 3px;
    border-radius: 3px;
    margin-right: 30px;
    border-radius: 7px;
    width: 30px;
    height: 30px;
}

.redes img:hover {
    background: black;
    transition: .5s;
}

.derechos {
    color: black;
}

/* INDEX */

.encabezado {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.encabezado h1 {
    font-size: 2rem;
    width: 70%;
    margin-top: -10vh;
    text-align: center;
}

.accion {
    background-color: black;
    font-size: 2em;
    text-decoration: none;
    border-radius: 3px;
    width: 9%;
    margin-top: 13px;
    text-align: center;
    color: #fff;
}

.accion:hover {
    background-color: #fff;
    color: black;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .encabezado h1 {
        font-size: 2em;
        width: 90%;
        margin-right: 5%;
        margin-top: -5vh;
    }

    .accion {
        font-size: 1.5em;
        width: 30%;
        margin-top: 5%;
    }
}

@media screen and (max-width: 480px) {
    .encabezado h1 {
        font-size: 1.5em;
        width: 95%;
        margin-right: 5%;
        margin-top: -3vh;
    }

    .accion {
        font-size: 1em;
        width: 40%;
        margin-top: 5%;
    }
}


/* ******************************************************* */
/* NOSOTROS */

.equipo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
}

.equipo h1 {
    margin-top: 350px;
    line-height: 2;
}

/* PORTAFOLIO */
.portafolio {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    height: 100vh;
}

.cajas{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
    height: 100vh;
    width: 60%;
    margin-right: 120px;
    margin-top: 130px;
}

/* CLIENTES */

.clientes {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    font-size: x-large;
    height: 100vh;
}

.clientes div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
    height: 100vh;
    width: 60%;
    margin-right: 120px;
}

.clientes h1{
    line-height: 2;
}


.clientes h2{
    line-height: 2;
}
/* CONTACTO */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form h1 {
    margin-top: 145px;
    margin-left: -33px;
    margin-bottom: 20px;
    font-size: 30px;
}

.form input {
    border-radius: 5%;
    font-size: x-large;
}

.form label {
    font-size: x-large;

}

#textArea {
    border-radius: 5%;
    font-size:x-large;
}

.form h4 {
    font-size:x-large;
}
.form div {
    font-size:x-large;
}
.form select {
    font-size:x-large;
    border-radius: 5px;
}

.button {
    color: #fff;
    background-color: black;
    font-size: large;
    width: 123px;
    height: 35px;
    margin-top: 25px;
    border-radius: 9px;
}