.nosotros {
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
        url(../img/equipo.jpg) no-repeat;
    background-size: cover;
    padding: 2rem;
}

.contenido {
    margin-top: 1.5rem;
}

.parrafo {
    margin-top: 150px;
    margin-bottom: 150px;
}

/*Estilo para los mienbros del equipo*/
.equipo {
    border-radius: 9px;
    margin-top: -6rem;

    h3 {
        margin-top: 100px;
    }
}

.team-member {
    margin-bottom: 3rem;
    text-align: center;

    img {
        width: $team-member-size;
        height: $team-member-size;
        border: 0.5rem solid rgba(255, 255, 255, 0.1);
    }

    h4,
    .h4 {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
}