$font-family: "Belanosima", sans-serif;
$primary-color: rgba(143, 142, 142, 0.75);
$background-color: gray;
$text-color: black;
$hover-color: black;

$navbar-height: 60px;
$logo-size: 35px;
$team-member-size: 14rem;
$footer-padding: 4rem;

$base-font-size: 18px;
$h1-font-size: 30px;

$section-margin-top: 80px;
$section-padding: 8rem;